<aside class="sidebar d-flex flex-column flex-shrink-0 p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-2">
            <a href="/admin/dashboard" class="nav-link <%= (page === 'dashboard') ? 'active' : '' %>">
                <i class="ri-dashboard-3-line me-2"></i> Dashboard
            </a>
        </li>
        <li class="nav-item mb-2">
     
           <a href="/admin/orders" class="nav-link <%= (page === 'orders') ? 'active' : '' %>">
                <i class="ri-file-list-3-line me-2"></i> Quản lý Đơn hàng
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="/admin/accounts" class="nav-link <%= (page === 'accounts') ? 'active' : '' %>">
       
                 <i class="ri-group-line me-2"></i> Danh Sách Account
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="/admin/settings" class="nav-link <%= (page === 'settings') ? 'active' : '' %>">
                <i class="ri-settings-3-line me-2"></i> Cài Đặt
            </a>
        </li>
        </ul>
    <hr>
</aside>